body{
  /*background-color:#E0FFFF;*/
  background-color:#2c6ba5;
}
img{
  border:3px solid #77CC55;
  width:50%;
  height: auto;
}
.div2{
  color:#77CC55;
}
h1{
  color:#66B4B8;
}

h3{
  color:#66B4B8;
}
